{% extends 'base.html.twig' %}

{% block subtitle %}
    <h1 class="title">Change password</h1>
{% endblock subtitle %}

{% block body %}
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        {{ form_start(form) }}
          <div class="field">
            <label for="password">Password:</label>
            <div class="control">
              {{ form_widget(form.password.first, {attr: {class: 'input'}}) }}
            </div>
          </div>
          <div class="field">
            <label for="password">Repeat password:</label>
            <div class="control">
              {{ form_widget(form.password.second, {attr: {class: 'input'}}) }}
            </div>
          </div>
          <div class="field">
            <div class="control">
              {{ form_widget(form.submit, {'attr': {'class': 'button is-link'}, 'label': 'Save'}) }}
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock body %}